asgiref==3.7.2
colorama==0.4.6
distlib==0.3.7
dj-database-url==1.0.0
Django==4.2.5
django-cors-headers==4.5.0
django-environ==0.11.2
django-extensions==3.2.3
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
filelock==3.12.4
gunicorn==23.0.0
packaging==25.0
Pillow==10.0.1
platformdirs==3.11.0
psycopg2-binary==2.9.9
PyJWT==2.9.0
pyotp==2.9.0
python-dotenv==1.1.0
pytz==2023.3.post1
qrcode==8.0
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.5
whitenoise==6.9.0
